<header class="text-center">
    <h3>Dashboard</h3>
  </header>
  <!-- Today Overview column -->
  <div class="container container-fluid">
    <div class="row">
      <div class="col-9 main-container">
        <div class="card day-card" style="width: 100%">
          <div class="card-body">
            <div class="card-header main-header card-title">
              <h5>What Your Day Looks Like:</h5>
            </div>
            <div class="card-subtitle mb-2 text-muted">
              <h6>Today is: Date & Time</h6>
            </div>

            <ul>
              <li>An Event</li>
              <li>An Appointment</li>
              <li>Take Vitamins</li>
              <li>Drink Water</li>
              <li>Stretch</li>
            </ul>
          </div>
        </div>
      </div>