{{!-- navbar --}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/calendar.css" type="text/css">
    
    <title>Dashboard</title>
</head>

<body>

    <!-- add a 'logged in' with username in navbar -->


    <nav class="navbar justify-content-center">
                <img src="/assets/images/mise_en_place__3_-trimmy.png" alt="" width="100" height="80" id="logo">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upcoming">Upcoming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/repeated">Repeated</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/checklist">Checklist</a>
            </li>
            {{#if logged_in}}
            <li class="nav-item">
                <a class="nav-link" id="logout" href="/login">Logout</a>
            </li>
            {{/if}}
        </ul>
    </nav>


    <main>
        {{{body}}}
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>