<div class="container container-fluid">
    <div class="row justify-content-center">
        <div class="col-6 main-container">
            <div class="card calendar-card" style="width: 100%">
                <div class="card-body">
                    <div class="card-header main-header card-title">
                        <h5>Add New Calendar Event</h5>
                    </div>

                    <div class="form-container">
                        <form>
                            <div class="mb-3 justify-content-center">
                                <div class="col-md-3">
                                    <label for="eventName" class="form-label">Event Name</label>
                                    <input type="text" placeholder="Event Name">
                                </div>
                                <div class="col-md-3">
                                    <label for="eventLocation" class="form-label">Event Location</label>
                                    <input type="text" placeholder="Event Location">
                                </div>
                                <div class="col-md-3">
                                    <label for="startTime" class="form-label">Start Date and Time</label>
                                    <input type="datetime-local">
                                </div>
                                <div class="col-md-3">
                                    <label for="endTime" class="form-label">End Date and Time</label>
                                    <input type="datetime-local">
                                </div>
                                <div class="col-md-3">
                                    <label for="repeatSelect" class="form-label">Repeat this Event:</label>
                                    <select class="form-select">
                                        <option selected>Repeat Event:</option>
                                        <option value="1">Never</option>
                                        <option value="2">Every Day</option>
                                        <option value="3">Every Week</option>
                                        <option value="4">Every Month</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary">Add Event</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>