<header class="text-center">
    <h3>Calendar</h3>
</header>

<div class="container container-fluid">
    <div class="row">
        <div class="col-9 main-container">
            <div class="card calendar-card" style="width: 100%">
                <div class="card-body">
                    <div class="card-header main-header card-title">
                        <h5>Current Day</h5>
                    </div>
                    Calendar Here
                    <i class="fa-regular fa-calendar-plus"></i>
                </div>
            </div>
        </div>