<header class="text-center">
    <h3>Checklist</h3>
  </header>
  
  <div class="container container-fluid">
    <div class="row">
      <div class="col-9 main-container">
        <div class="card checklist-card" style="width: 100%">
          <div class="card-body">
            
            <div class="checklist-form">
              <input class="form-check-input" type="checkbox" value="" id="checkbox">
              <label class="form-check-label" for="flexCheckChecked">
                Do This
              </label>
            </div>

          </div>
        </div>
      </div>