<header class="text-center">
  <h3>Checklist</h3>
</header>

<!-- Today Overview column -->
<div class="container container-fluid">
  <div class="row">
    <div class="col-9 main-container">
      <div class="card checklist-card" style="width: 100%">
        <div class="card-body">
          <div class="card-header dash-header card-title">
            <h5>To Do List:
              <i class="fa-solid fa-plus"></i>
            </h5>
          </div>
          <div class="checklist-form">

            <input class="form-check-input" type="checkbox" value="" id="checkbox">
            {{#each checklistItems as | item | }}
            <label class="form-check-label" for="flexCheckChecked">
            </label>
            {{/each}}
          </div>

        </div>
      </div>
    </div>


    <!-- To-Do Column -->
    <div class="col-3">
      <div class="card to-do-card" style="width: 100%">
        <div class="card-header to-do-card-header">
          To Do:
        </div>
        <ul class="list-group list-group-flush">
          {{#each to_do as | item | }}
          <li class="list-group-item to-do-item">{{item.name}}</li>
          {{/each}}
        </ul>
      </div>

      <div class="card to-do-card" style="width: 100%">
        <div class="card-header missed-card-header">
          Missed To Dos:
        </div>
        <ul class="list-group list-group-flush">
          {{#each to_do as | item | }}
          <li class="list-group-item missed-item">{{item.name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>