<header class="text-center">
  <h3>Dashboard</h3>
</header>

<!-- Today Overview column -->
<div class="container container-fluid">
  <div class="row">
    <div class="col-9 dash-container">
      <div class="card day-card" style="width: 100%">
        <div class="card-body">
          <div class="card-header dash-header card-title">
            <h5>What Your Day Looks Like:</h5>
          </div>
          <div class="card-subtitle mb-2 text-muted">
            <h5><strong>Today is:</strong> <span id="today"></span></h5>
          </div>

          <ul>
            <li>An Event</li>
            <li>An Appointment</li>
            <li>Take Vitamins</li>
            <li>Drink Water</li>
            <li>Stretch</li>
          </ul>
        </div>
      </div>
    </div>


    <!-- To-Do Column -->
    <div class="col-3">
      <div class="card to-do-card" style="width: 100%">
        <div class="card-header to-do-card-header">
          To Do:
          <a href="checklist.html" id="plus">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
        <ul class="list-group list-group-flush">
          {{#each checklistItems as | item | }}
          <li class="list-group-item to-do-item">{{checklists.name}}</li>
          {{/each}}
        </ul>
      </div>

      <div class="card to-do-card" style="width: 100%">
        <div class="card-header missed-card-header">
          Missed To Dos:
        </div>
        <ul class="list-group list-group-flush">
          {{#each checklistItems as | item | }}
          <li class="list-group-item missed-item">{{checklists.name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/assets/js/dashboard.js"></script>