
        <div class="d-flex home-row justify-content-center align-items-center">
            <div class="col-6">
                <div class="container home-container container-fluid bg-light text-center">

                    <h1 class="app-name">Mise en Place</h1>
                    <p class="slogan">Put everything in place
                    </p>
                    <img src="../images/kanban.png" width="250px" height="250px">
                    <h3>Let's Get Organized</h3>
                    <div class="button-group">
                        <!-- Login Button trigger modal -->
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Login
                        </button>
                        <!-- Sign Up Button trigger modal -->
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#signupModal">
                            Sign Up
                        </button>
                    </div>
                </div>
            </div>
        </div>

   