<header class="text-center">
    <h3>Repeated Events</h3>
</header>

<!-- Repeats Overview column -->
<div class="container container-fluid">
    <div class="row">
        <div class="col-9 main-container">
            <div class="card repeat-card" style="width: 100%">
                <div class="card-body">
                    <div class="card-header dash-header card-title">
                        <h5>Your Repeated Events</h5>
                    </div>
                    <div class="col-md-3">
                        <label for="repeatSelectView" class="form-label">View Repeated Events By:</label>
                        <select class="form-select">
                            <option selected>Select</option>
                            <option value="1">All</option>
                            <option value="2">Daily</option>
                            <option value="3">Weekly</option>
                            <option value="4">Monthly</option>
                        </select>
                    </div>

                    {{!-- loop through all repeated events {{#each repeatedEvents }} --}}
                    
                    {{!-- When daily is selected display label with all daily repeat inputs with associated dates/times --}}
                    <div class="daily" hidden>
                        <label for="dailyRepeat" class="form-label">Daily Repeats</label>
                        <input class="form-control" type="text" value="This task is repeated every day at 9am"
                            aria-label="readonly input example" readonly>
                    </div>

                    {{!-- When weekly is selected display label with all weekly repeat inputs with associated dates/times --}}
                    <div class="weekly" hidden>
                        <label for="weeklyRepeat" class="form-label">Weekly Repeats</label>
                        <input class="form-control" type="text"
                            value="This task is repeated every week on Wednesday at 8pm"
                            aria-label="readonly input example" readonly>
                    </div>

                    {{!-- When monthly is selected display label with all monthly repeat inputs with associated dates/times --}}
                    <div class="monthly" hidden>
                        <label for="monthlyRepeat" class="form-label">Monthly Repeats</label>
                        <input class="form-control" type="text"
                            value="This task is repeated every month on the 1st at 2pm"
                            aria-label="readonly input example" readonly>
                    </div>

                </div>
            </div>
        </div>



        <!-- To-Do Column -->
        <div class="col-3">
            <div class="card to-do-card" style="width: 100%">
                <div class="card-header to-do-card-header">
                    To Do:
                    <a href="checklist" id="plus"></a>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each to_do as | item | }}
                    <li class="list-group-item to-do-item">{{item.name}}</li>
                    {{/each}}
                </ul>
            </div>

            <div class="card to-do-card" style="width: 100%">
                <div class="card-header missed-card-header">
                    Missed To Dos:
                </div>
                <ul class="list-group list-group-flush">
                    {{#each to_do as | item | }}
                    <li class="list-group-item missed-item">{{item.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>

    </div>
</div>


<script src="/assets/js/repeated.js"></script>