nav {
    background-color: rgb(255, 198, 207);
}

a:link {
    color: black;
}

header {
    padding: 1em;
    color: darkgrey;
}

h6 {
    margin-top: 8px;
}

.day-card {
    background-color: white;
}

.card-header {
    background-color: rgb(255, 198, 207);
}

.to-do-card {
    margin-bottom: 2em;
}

#postit {
    margin-left: 4em;
}