body {
    /* height: 100%;
    margin-top: auto;
    margin-bottom: auto; */
    background-color: rgb(255, 198, 207);
}

.row {
    margin: 10px;
    padding: 5em;
}

.container {
    padding: 5em;
}

.button-group {
    padding: 10px;
}

.btn {
    /* background-color: rgb(252, 156, 82); */
    background-color: lightcoral;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
}

.btn:hover {
    background-color: lightsalmon;
}


img {
    margin-bottom: 2.5em;
}

.slogan {
    padding-top: 3px;
    font-style: italic;
    font-size: 25px;
}

.modal-header {
    background-color: rgb(255, 198, 207)
}

label {
    font-weight: bold;
}
